<div class="page-header">
    <h1>
        Expediente
    </h1>
</div>

<div class="row">

    <div class="col-sm-6">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    Villanos en Expediente
                </h3>
            </div>

            <table class="table table-hover table-fixed">
                <tbody>
                    <tr data-ng-repeat="villano in expedienteCtrl.villanos">

                        <td>{{villano.nombre}}</td>

                        <td>

                            <button type="button" class="btn btn-primary btn-sm glyphicon" data-ng-click="expedienteCtrl.verVillano(villano.id)" aria-label="Editar">
                                <!-- muestro icono de ver o editar -->
                                <span class="glyphicon glyphicon-pencil" ng-show="expedienteCtrl.mostrarElementos" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-eye-open" ng-show="!expedienteCtrl.mostrarElementos" aria-hidden="true"></span>
                            </button>

                            <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-remove-sign" ng-show="expedienteCtrl.mostrarElementos" data-ng-click="expedienteCtrl.eliminarVillano(villano.id);" aria-label="Eliminar"></button>

                        </td>

                    </tr>

                </tbody>
            </table>

            <div class="panel-footer" ng-show="expedienteCtrl.mostrarElementos">

                <button type="button" class="btn btn-success btn-block" data-ng-click="expedienteCtrl.limpiarCampos()">
                    Nuevo Villano
                </button>

            </div>

        </div>

    </div>

    <div class="col-sm-6">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    Villano
                </h3>
            </div>

            <div class="panel-body">
                <form name="vilForm" role="form">

                    <!-- Nombre -->
                    <div class="form-group">
                        <label for="titulo">Nombre</label>
                        <input data-ng-model="expedienteCtrl.villanoActual.nombre" type="text" id="nombre" name="nombre" class="form-control" placeholder="">
                    </div>

                    <!-- Sexo -->
                    <div class="form-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <p class="panel-title">Sexo</p>
                            </div>

                            <div class="panel-footer ">

                                <select class="form-control" data-ng-model="expedienteCtrl.villanoActual.sexo" id="sexo" name="sexo">
                                    <option value="Femenino">Femenino</option>
                                    <option value="Masculino">Masculino</option>
                                </select>

                            </div>

                        </div>
                    </div>

                    <!-- Hobbies -->
                    <div class="form-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <p class="panel-title">Hobbies</p>
                            </div>

                            <table class="table table-hover table-fixed">
                                <tbody>
                                    <tr data-ng-repeat="hobbie in expedienteCtrl.villanoActual.hobbies">
                                        <td>{{hobbie}}</td>
                                        <td>
                                            <button ng-show="expedienteCtrl.mostrarElementos" type="button" class="btn btn-danger btn-sm glyphicon glyphicon-remove-sign" data-ng-click="expedienteCtrl.eliminarHobbie(hobbie);" aria-label="Eliminar"></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="panel-footer" ng-show="expedienteCtrl.mostrarElementos">

                                <div class="input-group">

                                    <input type="text" class="form-control" placeholder="Nuevo Hobbie..." data-ng-model="expedienteCtrl.nuevoHobbie">

                                    <span class="input-group-btn">
                                        <button class="btn btn-success glyphicon glyphicon-plus-sign" type="button" data-ng-click="expedienteCtrl.agregarHobbie()" aria-label="Agregar"></button>
                                    </span>

                                </div>

                            </div>

                        </div>
                    </div>

                    <!-- Señas -->
                    <div class="form-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <p class="panel-title">Señas Particulares</p>
                            </div>

                            <table class="table table-hover table-fixed">
                                <tbody>
                                    <tr data-ng-repeat="senas in expedienteCtrl.villanoActual.senasParticulares">
                                        <td>{{senas}}</td>
                                        <td>
                                            <button ng-show="expedienteCtrl.mostrarElementos" type="button" class="btn btn-danger btn-sm glyphicon glyphicon-remove-sign" aria-label="Eliminar" data-ng-click="mapamundiCtrl.eliminarConexion(conexion);"></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="panel-footer" ng-show="expedienteCtrl.mostrarElementos">

                                <div class="input-group">

                                    <input type="text" class="form-control" placeholder="Nueva Seña..." data-ng-model="expedienteCtrl.nuevaSena">

                                    <span class="input-group-btn">
                                        <button class="btn btn-success glyphicon glyphicon-plus-sign" type="button" data-ng-click="expedienteCtrl.agregarSena(sena)" aria-label="Agregar"></button>
                                    </span>

                                </div>

                            </div>

                        </div>
                    </div>

                </form>

            </div>

            <div class="panel-footer" ng-show="expedienteCtrl.mostrarElementos">
                <button type="Submit" class="btn btn-success btn-block" data-ng-click="expedienteCtrl.agregarVillano()">
                    Guardar Villano
                </button>
            </div>

        </div>

    </div>

</div>
