<div class="col-sm-2">
    <table class="table table-striped table-hover">

        <thead>
            <tr>
              <th>Villano</th>
            </tr>
        </thead>

        <tbody>
            <tr data-ng-repeat="villano in Villanos.villanos ">
              <td>{{villano.nombre}}</td>
            </tr>
        </tbody>

    </table>
    <button type="button">Nuevo</button>
    <p></p>
    <button type="button">Editar</button>

</div>
<div class="col-sm-2">
    <p>Nombre: </p>
    <p>Sexo: </p>
    <p>Señas particulares: </p>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
              <th>Seña</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pelo rojo</td>
            </tr>
            <tr>
                <td>Sombrero rojo</td>
            </tr>
            <tr>
                <td>Sobretodo rojo</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Hobbie</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Croquet</td>
            </tr>
            <tr>
                <td>Robar</td>
            </tr>
            <tr>
                <td>Coleccionar cosas rojas</td>
            </tr>
        </tbody>
    </table>

</div>

<div class="col-sm-4">
    <p>Carmen San Diego</p>
    <p>Femenino</p>
</div>