<div class="page-header">
    <h1>
        Resolver Misterio: {{ resolverMisterioCtrl.titulo }}
    </h1>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="well well-lg">
            <p>Ubicación actual: {{ resolverMisterioCtrl.paisActual.nombre}}</p>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-4">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
                    Viajar
                </h3>
            </div>
            <div class="panel-body">
                <p>Elija un pais para viajar: </p>
                <form>
                    <div class="radio" ng-repeat="pais in resolverMisterioCtrl.paisActual.conexiones">
                        <label>
                            <input type="radio" name=pais.nombre id=pais.id value="pais.id"
                                ng-model="some.path" ng-change="resolverMisterioCtrl.seleccionarPaisAViajar(this)" checked> {{pais.nombre}}
                        </label>
                    </div>
                </form>

                <button type="button" class="btn btn-success btn-block" data-ng-click="resolverMisterioCtrl.viajar()">
                    Viajar
                </button>


            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                    Destinos Fallidos
                </h3>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                    </tr>
                </tbody>
            </table>

        </div>



    </div>
    <div class="col-md-4">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    Investigar
                </h3>
            </div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, laborum.
            </div>
            <!-- List group -->
            <div class="list-group">

                <a href="#" class="list-group-item">
                    <div class="media-left">
                        <img class="media-object" src="..." alt="...">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Embajada</h4>
                    </div>
                </a>

                <a href="#" class="list-group-item">
                    <div class="media-left">
                        <img class="media-object" src="..." alt="...">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Club</h4>
                    </div>
                </a>

                <a href="#" class="list-group-item">
                    <div class="media-left">
                        <img class="media-object" src="..." alt="...">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Biblioteca</h4>
                    </div>
                </a>

            </div>
        </div>


    </div>
    <div class="col-md-4">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                    Visitando
                </h3>
            </div>
            <div class="panel-body">
                <p>
                    Panel content
                </p>

                <button type="button" class="btn btn-default btn-block">Block level button</button>

            </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                Orden de Arresto
            </h3>
        </div>
        <div class="panel-body">

            <div>
                <label>Emitida contra:</label>
                <span class="orden-emitida-js">{{resolverMisterioCtrl.ordenEmitida}}</span>
            </div>

            <label for="orden">Emitir Orden de arresto contra:</label>
            <select class="form-control select-villano-js" name="orden" 
            ng-model="ordenSelector" ng-change="resolverMisterioCtrl.seleccionarVillano()"
            ng-options="villano.id as villano.nombre for villano in resolverMisterioCtrl.villanos track by villano.id">
        </select>
        <input type="button" data-ng-click="resolverMisterioCtrl.emitirOrden()"
        class="btn-info form-control"
        value="Pedir orden" style="margin-top: 8px">

    </div>
</div>

</div>
</div>
