<div class="alert alert-success col-md-10" style="display: none; position: fixed; top: 50px; z-index: 1000"></div>
<div class="alert alert-danger col-md-10" style="display: none; position: fixed; top: 50px; z-index: 1000"></div>

<div class="page-header">
    <h1>
        Resolver Misterio: {{ resolverMisterioCtrl.titulo }}
    </h1>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="well well-lg">
            <p>Ubicación actual: {{ resolverMisterioCtrl.paisActual.nombre}}</p>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-4">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
                    Viajar
                </h3>
            </div>
            <div class="panel-body">
                <p>Elija un pais para viajar: </p>
                <form>
                    <div class="radio" ng-repeat="pais in resolverMisterioCtrl.paisActual.conexiones">
                        <label>
                            <input type="radio" name=pais.nombre id=pais.id value="pais.id"
                                ng-model="some.path" ng-change="resolverMisterioCtrl.seleccionarPaisAViajar(this)" checked> {{pais.nombre}}
                        </label>
                    </div>
                </form>

                <button type="button" class="btn btn-success btn-block" data-ng-click="resolverMisterioCtrl.viajar()">
                    Viajar
                </button>


            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                    Destinos Fallidos
                </h3>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody ng-repeat="pais in resolverMisterioCtrl.destinosFallidos">
                    <tr>
                        <th scope="row"> {{$index + 1}} </th>
                        <td> {{pais.nombre}} </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                    Destinos Visitados
                </h3>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody ng-repeat="pais in resolverMisterioCtrl.paisesVisitados">
                    <tr>
                        <th scope="row"> {{$index + 1}} </th>
                        <td> {{pais.nombre}} </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
    <div class="col-md-4">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    Investigar
                </h3>
            </div>
            <div class="panel-body">
                Elija un lugar para investigar:
            </div>
            <!-- List group -->
            <div class="list-group">

                <a class="list-group-item" ng-repeat="lugar in resolverMisterioCtrl.paisActual.lugares" 
                    data-ng-click="resolverMisterioCtrl.pedirPista(lugar)" style="cursor: pointer;">
                    <div class="media-left">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{lugar}}</h4>
                    </div>
                </a>
            </div>
        </div>


    </div>
    <div class="col-md-4">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                    Visitando
                </h3>
            </div>
            <div class="panel-body">
                <h3> Lugar visitado: {{ resolverMisterioCtrl.lugarActual }} </h3>
                <p> {{ resolverMisterioCtrl.pistaActual }} </p>
            </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                Orden de Arresto
            </h3>
        </div>
        <div class="panel-body">

            <div>
                <label>Emitida contra:</label>
                <span> {{resolverMisterioCtrl.ordenEmitida}} </span>
            </div>

            <label for="orden">Emitir Orden de arresto contra:</label>
            <select class="form-control select-villano-js" name="orden" 
            ng-model="ordenSelector" ng-change="resolverMisterioCtrl.seleccionarVillano()"
            ng-options="villano.id as villano.nombre for villano in resolverMisterioCtrl.villanos track by villano.id">
        </select>
        <input type="button" data-ng-click="resolverMisterioCtrl.emitirOrden()"
        class="btn-info form-control"
        value="Pedir orden" style="margin-top: 8px">

    </div>
</div>

</div>
</div>
