<div>
    <h1>{{ title }}</h1><br>

    <div class="row">
        <div class="col-md-6">
            <!-- Panel de viajar -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Viajar a: {{  }}</h4>
                </div>
                <div class="panel-body">
                    <a ng-click="viajar()" class="btn btn-default">Viajar</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2 style="font-style: italic">Estas en: {{ caso.pais.nombre }} </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row"> 
        <div class="col-md-6">
            <!--Tabla de paises posibles para viajar--> 
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th class="text-center">Posibilidades</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="conexion in caso.pais.conexiones">
                    <td class="text-center">
                        <input name="checkboxPais" type="radio" ng-model="resolverMisterioCtrl.paisSeleccionado" ng-value="conexion" id="{{conexion.id}}"/> 
                    </td>
                    <td> <label for="{{conexion.id}}">{{conexion.nombre}}</label> </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Lista de lugares -->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Investigar</h4>
                </div>
                <div class="panel-body">
                    <div ng-repeat="lugar in caso.pais.lugares">
                        <a ng-click="getPista(lugar)" class="btn btn-default btn-block"> {{ lugar }}</a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <!--Paises visitados y fallidos-->
        <div ng-if="caso.paisesVisitados.length > 0" class="col-md-3"> 
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th class="text-center">Paises Visitados</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="paisVisitado in caso.paisesVisitados">
                    <td> {{ paisVisitado }} </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-3">
            <table ng-if="caso.paisesFallidos.length > 0" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th class="text-center">Paises Fallidos</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="paisFallido in caso.paisesFallidos">
                    <td> {{ paisFallido }} </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
        <!-- Panel de Orden de arresto -->
            <h1>Orden de arresto:</h1>
            <div>
                <label>Emitida contra:</label>
                <span class="orden-emitida-js">{{ordenCtrl.ordenEmitida}}</span>
            </div>
            <div class="col-md-4 well" style="margin-left: 16px">
                <div class="col-md-12">
                    <label>Pedir orden contra:</label>
                    <select class="form-control select-villano-js" ng-model="selector"
                            ng-change="ordenCtrl.seleccionarVillano(this)"
                            ng-options="villano.villanoId as villano.nombre for villano in ordenCtrl.villanos track by villano.villanoId">
                    </select>
                </div>
                <div class="col-md-12">
                    <input type="button" data-ng-click="ordenCtrl.emitirOrden()"
                           class="btn-info form-control"
                           value="Pedir orden" style="margin-top: 8px">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Investigar -->
    <div id="modalLugar" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title">Visitando: {{ lugarSeleccionado }}</h2>
        </div>
        <div class="modal-body">
            <ul>
                <h3>Pistas obtenidas del lugar: </h3><br>
                <li ng-repeat="pista in pistas"> <h4>{{ pista }}</h4> </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
        </div>

    </div>
    </div>

</div>
